.box {
    border: 1px solid #000;
    margin: 5px;
    padding: 5px;
}


.box:nth-child(1){background:green;}
.box:nth-child(3){background:green;}
p~p{color:red;}
.box:hover{background-color:yellow;}

.inner{
padding:10px;
background-color:orange;
border:2px solid green;
color:black;
}
